.own-account-button {
    background: #fff;
    padding-top: 6px;
    height: 24px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 13px;
    border-radius: 6px;
    text-align: center;
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: black;
}