.account-wrapper {
    background-color: #fff;
    min-height: 100px;
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}
.login-wrapper {
    width: 500px;
    border: 1px solid black;
    border-radius: 10px;
}
.login-title {
    text-align: center;
    margin: 10px 0px;
    padding: 10px 0px;
}

.login-form-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}
.login-form-item {
    padding: 10px 10px;
}
.login-form-input {
    padding: 5px 10px;
    font-size: 14px;
}
.login-send-btn {
    margin: 10px 55px;
    padding: 5px 10px;
}