@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

body {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: #333;
    font-size: 14px;
    line-height: 20px;
}

.button {
    cursor: pointer;
}